package-db: /tmp/workspace/HelloYesod/cabal-dev/packages-7.4.1.conf
local-repo: /tmp/tmproot/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/adlezz/.cabal/packages
world-file: /home/adlezz/.cabal/world
build-summary: /tmp/log/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /tmp/tmproot
install-dirs global
  prefix: /tmp/tmproot